@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

/* Navigation style */

.nav-sec{
    width: 100%;
    background-color: #EC407A;
}

.nav-sec nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-sec nav .site-logo{
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.nav-sec nav ul{
    list-style-type: none;
}

.nav-sec nav ul li{
    display: block;
}

.nav-sec nav ul li a{
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 12px 18px;
    margin-bottom: 12px;
    transition: 0.5s;
    background-color: #AB47BC;
}

.nav-sec nav ul li a:hover{
    text-decoration: underline;
    background-color: #7C3389;
}

@media only screen and (min-width: 600px){
    .nav-sec nav{
        width: 90%;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-between;
    }

    .nav-sec nav .site-logo{
        width: 10%;
    }

    .nav-sec nav ul{
        display: flex;
        justify-content: right;
        width: 50%;
        margin: 8px 0;
    }

    .nav-sec nav ul li{
        display: inline;
        margin-left: 8px;
    }

    .nav-sec nav ul li a{
        display: inline-block;
        margin-bottom: 0;
    }
}